@import url('https://unpkg.com/react-leaflet-markercluster/dist/styles.min.css');

.marker-cluster-small {
  background-color: rgba(181, 226, 140, 0.6);
}
.marker-cluster-small div {
  background-color: rgba(110, 204, 57, 0.6);
}
.marker-cluster-medium {
  background-color: rgba(241, 161, 87, 0.6);
}
.marker-cluster-medium div {
  background-color: rgba(240, 115, 12, 0.6);
}
.marker-cluster-large {
  background-color: rgba(253, 131, 115, 0.6);
}
.marker-cluster-large div {
  background-color: rgba(241, 48, 23, 0.6);
}
.leaflet-oldie .marker-cluster-small {
  background-color: #b5e28c;
}
.leaflet-oldie .marker-cluster-small div {
  background-color: #6ecc39;
}
.leaflet-oldie .marker-cluster-medium {
  background-color: #f19c57;
}
.leaflet-oldie .marker-cluster-medium div {
  background-color: #f0860c;
}
.leaflet-oldie .marker-cluster-large {
  background-color: #fd7373;
}
.leaflet-oldie .marker-cluster-large div {
  background-color: #f11717;
}
